.mainContainer {
    margin-top: 2%;
    margin-right: 10px;
    margin-left: 220px;
    /*width: 70%;
    height: 100%;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    /*background-color: rgb(245, 177, 225);*/
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    border-radius: 15px;
    color: white;
    background-color: #ebc5dc;
  width: 70%;
  height: 80%;
  position:relative;
  text-align: center;
  justify-content: center;
  align-items: center;

  
  
    
  }